@model Proyecto_Final_Estructura_De_Datos.Models.ViewModels.ReservasViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <script src="~/js/date_validate.js"></script>
        <form asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReserva" class="control-label" value="@Model.IdReserva"></input>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control">
                    @foreach (Usuario item in ViewBag.Usuarios)
                    {
                        <option value="@item.IdUsuario">@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHabitacion" class="control-label"></label>
                <select asp-for="IdHabitacion" class="form-control">
                    @foreach (Habitacion item in ViewBag.Habitaciones)
                    {
                        <option value="@item.IdHabitacion">@item.Descripcion - @item.Tipo - $@(item.PrecioNoche)</option>
                    }
                </select>
                <span asp-validation-for="IdHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" id="check_in"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" type="date" id="check_out"/>
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Servicios añadidos</label>
                <table class="table">
                    @for (int i = 0; i < (ViewBag.Servicios as List<Servicio>).Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">@(((List<Servicio>)ViewBag.Servicios)[i].NombreServicio)</h6>
                                    </div>
                                    <div class="card-body">
                                        @(((List<Servicio>)ViewBag.Servicios)[i].Descripcion)
                                    </div>
                                    <div class="btn btn-success">
                                        @if (Model.ServiciosReservados == null)
                                        {
                                            <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i].IdServicio)"/>
                                        }
                                        else
                                        {
                                            @if (Model.ServiciosReservados.Any(x => x.IdServicio == ((List<Servicio>)ViewBag.Servicios)[i].IdServicio))
                                            {
                                                <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i].IdServicio)" checked="@(true)"/>
                                            }
                                            else
                                            {
                                                <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i].IdServicio)"/>
                                            }
                                        }
                                        Agregar por $@(((List<Servicio>)ViewBag.Servicios)[i].Precio)
                                    </div>
                                </div>
                            </td>
                            @if (i + 1 < ((List<Servicio>)ViewBag.Servicios).Count)
                            {
                                <td>
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">@(((List<Servicio>)ViewBag.Servicios)[i + 1].NombreServicio)</h6>
                                        </div>
                                        <div class="card-body">
                                            @(((List<Servicio>)ViewBag.Servicios)[i + 1].Descripcion)
                                        </div>
                                        <div class="btn btn-success">
                                            @if (Model.ServiciosReservados == null)
                                            {
                                                <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i].IdServicio)"/>
                                            }
                                            else
                                            {
                                                @if (Model.ServiciosReservados.Any(x => x.IdServicio == ((List<Servicio>)ViewBag.Servicios)[i + 1].IdServicio))
                                                {
                                                    <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i + 1].IdServicio)" checked="@(true)"/>
                                                }
                                                else
                                                {
                                                    <input class="btn btn-check" type="checkbox" name="serviciosid" value="@(((List<Servicio>)ViewBag.Servicios)[i + 1].IdServicio)"/>
                                                }
                                            }
                                            Agregar por $@(((List<Servicio>)ViewBag.Servicios)[i + 1].Precio)
                                        </div>
                                    </div>
                                </td>
                                @(i++)
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
