@model IEnumerable<Proyecto_Final_Estructura_De_Datos.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
    Layout = "~/Views/Admin/_Layout.cshtml";
    List<Reserva> reservas = Model.ToList();
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Crear Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de entrada
            </th>
            <th>
                Fecha de salida
            </th>
            <th>
                Precio Total
            </th>
            <th>
                Habitación
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i<reservas.Count;i++) {
    <tr>
        <td>
            @((ViewBag.Usuarios as List<Usuario>)[i].Nombre)
        </td>
        <td>
            @((ViewBag.Habitaciones as List<Habitacion>)[i].Descripcion) - @((ViewBag.Habitaciones as List<Habitacion>)[i].Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => reservas[i].FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => reservas[i].FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => reservas[i].PrecioTotal)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@reservas[i].IdReserva">Editar</a> |
            <a asp-action="Details" asp-route-id="@reservas[i].IdReserva">Detalles</a> |
            <a asp-action="Delete" asp-route-id="@reservas[@i].IdReserva">Eliminar</a>
        </td>
    </tr>
}
    </tbody>
</table>
